.arrows {
  $a: &;
  
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: calc(100vw - 100px);

  @include mq(md) {
    flex-direction: column;
    width: auto;
  }

  &__right,
  &__left {
    width: 60px;
    height: 60px;
    border: 1px solid $white;
    border-radius: 50%;
    position: relative;
    cursor: pointer;

    @include mq(md) {
      width: 100px;
      height: 100px;
    }

    img {
      position: absolute;
      top: 50%;
      left: 52%;
      transform: translate3d(-50%, -50%, 0);
      width: 15%;
    }
  }

  &__left {
    img {
      left: 48%;
    }
  }

  &.both {
    justify-content: space-between;

    #{$a}__right,
    #{$a}__left {
      width: 40px;
      height: 40px;
      border: 1px solid $white;
      border-radius: 50%;
      position: relative;
      
      @include mq(md) {
        margin: 10px 0;
        width: 60px;
        height: 60px;
      }

      img {
        position: absolute;
        top: 50%;
        left: 47%;
        transform: translate3d(-50%, -50%, 0);
        width: 25%;
      }
    }

    #{$a}__right {
      img {
        left: 53%;
      }
    }
  }

  // &__right {
  //   width: 100px;
  //   height: 100px;
  //   border: 1px solid $white;
  //   border-radius: 50%;
  //   position: relative;

  //   img {
  //     position: absolute;
  //     top: 50%;
  //     left: 50%;
  //     transform: translate3d(-50%, -50%, 0);
  //     width: 15%;
  //   }
  // }

  // &__left {
  //   width: 100px;
  //   height: 100px;
  //   border: 1px solid $white;
  //   border-radius: 50%;
  //   position: relative;

  //   img {
  //     position: absolute;
  //     top: 50%;
  //     left: 50%;
  //     transform: translate3d(-50%, -50%, 0);
  //     width: 15%;
  //   }
  // }
}